# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI/CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  Build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: Install dependencies
        working-directory: .
        run: |
          task install

      - name: Check Linting
        working-directory: .
        run: |
          task lint

      - name: Check Formatting
        working-directory: .
        run: |
          uv run ruff format --check .

      - name: Test with pytest
        working-directory: .
        run: |
          uv run python -m pytest --cov . --verbose --cov-report xml:coverage.xml

      - uses: codecov/codecov-action@v3.1.1
        with:
          name: Upload Coverage to Codecov
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          verbose: true
